# Miscellaneous
*.log
*.swp
.DS_Store

# IntelliJ related
*.iml
.idea/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
.flutter-plugins-dependencies
/build/
/coverage/

# CocoaPods / Xcode
ios/Pods/
macos/Pods/
**/*.xcworkspace/xcuserdata/
